@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 33% 92%;
    --foreground: 153 100% 13%;
    --primary: 153 100% 13%;
    --primary-foreground: 47 33% 92%;
    --radius: 0rem;
  }

  body {
    @apply bg-cream-silk text-racing-green antialiased;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
  }
}

.mask-reveal {
  mask-repeat: no-repeat;
  mask-size: 200px;
}